@import url(https://fonts.googleapis.com/css?family=Chela+One);
@import url(https://fonts.googleapis.com/css?family=Averia+Sans+Libre);
@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap);

.topleftitle {
    font-family: 'Chela One';
    position: fixed;
    left: 10px;
    top: -20px;
    font-size: 218%;
    color: transparent;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #ff7a7a, #ffff73, #78ffff, #85ff85, #7878ff);
    background-clip: text;
    -webkit-background-clip: text;
    animation: animate 20s linear infinite;
    -webkit-animation: animate 20s linear infinite;
    -moz-animation: animate 20s linear infinite;
    background-size: 1000%;
    letter-spacing: 4px !important;
}
#cube{
    background-clip: content-box;
    color: transparent !important;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 26px;
    vertical-align: 10%;
}

@keyframes animate {
    0% {
        background-position: 0% 100%;
    }

    50% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 100%;
    }
}

.back {
    z-index: 999;
    position: fixed;
    padding: 0;
    margin: 0;
    list-style-type: none;
    cursor: pointer;
    bottom: 10px;
    left: 10px;

}

.back .back {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #c9deff;
    border-radius: 6px;
}

.back .back:hover {
    background-color: #a9c8fa;
}

.fas {
    font-size: 20px;
    position: relative;
    top: 2px;
}


.background {
    display: table;
    table-layout: fixed;
    width: 800px;
    border: 2px solid whitesmoke;
    background: linear-gradient(230deg, #a24bcf, #4b79cf, #4bc5cf);
    background-size: 400%, 400%;
    -webkit-animation: Badge 20s ease infinite;
    -moz-animation: Badge 20s ease infinite;
    animation: Badge 20s ease infinite;
}

.slideshow-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
    display: none;
}

#boulder-badge, #cascade-badge, #thunder-badge, #soul-badge, #marsh-badge, #volcano-badge, #mercury-badge, #rain-badge, #streak1-badge, #streak2-badge, #streak3-badge, #streak4-badge {
    background: transparent;
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
    width: 240px;
    height: 240px;
    padding: 20px;
}
#boulder-badge h1, #cascade-badge h1, #thunder-badge h1, #soul-badge h1, #marsh-badge h1, #volcano-badge h1,  #mercury-badge h1, #rain-badge h1, #streak1-badge h1, #streak2-badge h1, #streak3-badge h1, #streak4-badge h1{
    font-family: 'Averia Sans Libre';
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    margin-top: 30px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

#boulder-badge {
    opacity: 30%;
} 

#cascade-badge {
    opacity: 30%;
} 

#thunder-badge{
    opacity: 30%;
} 

#soul-badge{
    opacity: 30%;
} 

#marsh-badge{
    opacity: 30%;
} 

#volcano-badge {
    opacity: 30%;
}

#mercury-badge {
    opacity: 30%;
}

#rain-badge {
    opacity: 30%;
}

#streak1-badge {
    opacity: 30%;
} 

#streak2-badge {
    opacity: 30%;
} 

#streak3-badge {
    opacity: 30%;
} 

#streak4-badge {
    opacity: 30%;
}

@-webkit-keyframes Badge {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Badge {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Badge { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(240, 84, 84, 0.25);
    border-radius: 50%;
    border: 2px solid white;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor:pointer;
    bottom: 20px;
    box-sizing: border-box;
  }
  
  .active {
    background-color: #a63838;
  }
  
  .dotsdiv {
      position: absolute;
      bottom: 3px;
      width: 100%;
      transform: translateX(-50);
  }