

@import url(https://fonts.googleapis.com/css?family=Chela+One);
@import url(https://fonts.googleapis.com/css?family=Averia+Sans+Libre);

/* Global */
body {
  background-image: url("bgg.jpg");
}



html,
body { 
  height: 100%; 
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none;
}

body {
  width: 100%;
}

.middlecontent {
  position: relative;
  height: 60%;
  vertical-align: bottom;
}


.title {
  font-family: 'Chela One';
  position: absolute;
  font-size: 20vw;
  width: auto;
  text-align: center;
  text-shadow: 3px 3px #0095ff;
  color: #ebebeb;
  top: 4vh;
  left: 50%;
  transform: translateX(-50%);
   -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
    
}


.button {
  font-family: 'Averia Sans Libre';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 90%;
  text-decoration: none;
	padding: 0;
	letter-spacing: 0;
  color: #ebebeb;
  font-size: 2em;
  
}

.button:hover{

  color: lightgray !important;
  font-weight: bold;
  text-shadow: 2px 2px #0095ff;
  text-decoration: none;

}

.Games {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 80%;
  font-family: 'Averia Sans Libre';
  text-decoration: none;
	padding: 0;
	letter-spacing: 0;
  color: #ebebeb;
  font-size: 3em;
  background-color: transparent;
  border-color: transparent;
  outline: none;
  cursor: pointer;
  
  
}

.Games:hover{

  color: lightgray !important;
  font-weight: bold;
  text-shadow: 3px 3px #0095ff;

}

.check{

  background-color: transparent;
  border-color: transparent;

}

.textinput {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 45vh;
  font-family: 'Averia Sans Libre';
  text-decoration: none;
  padding: 0;
  letter-spacing: 0;
  color: #ebebeb;
  text-shadow: 0.3vw 0.3vw #0095ff;
  background-color: transparent;
  font-size: 10vw;
  text-align: center;
  width: 50vw;
  height: 15vw;
  outline: none;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: 2px 2px white;
  box-shadow: 0px 2px #0095ff;
}

.solution {
  font-family: 'Averia Sans Libre';
  position: absolute;
  font-size: 3vw;
  text-align: center;
  text-shadow: 2px 2px #0095ff;
  color: #ebebeb;
  left: 89.25vw;
  top: 0.01vh;
  width: 8.5vw;
}

.diff {
  font-family: 'Averia Sans Libre';
  position: absolute;
  font-size: 3vw;
  text-align: center;
  text-shadow: 2px 2px #0095ff;
  color: #ebebeb;
  top: 0.01vh;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.coins {
  font-family: 'Averia Sans Libre';
  position: absolute;
  font-size: 3vw;
  text-align: center;
  text-shadow: 2px 2px #0095ff;
  color: #ebebeb;
  top: 0.01vh;
  left: 1.4vw;
  width: 8.5vw;
}


div divdrop {
  font-family: 'Averia Sans Libre';    
  position: relative;
  display: none;
  font-size:150%;
  cursor: pointer;
  left: 2vw;
  color: white;
}

.dropdown:hover{
  text-shadow: 2px 2px #0095ff;
}

.dropdown-content {
  font-family: 'Averia Sans Libre';    
  display: none;
  position: absolute;
  background-color: black;
  text-shadow: 2px 2px #0095ff;
  font-size: 100%;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 940px) {
  .textinput {text-shadow: 0px 0px white;}
  div divdrop { display: inline-block; }
  .sc {display: none;}
  .diff {display: none;}
}
.mid-center { 
  position: absolute;
  top: 90%; 
  left: 50%;
  transform: translateX(-50%) translateY(-50%); 
}

.modal .modal-header{
  font-family: 'Averia Sans Libre';
}

.modal .modal-footer button {
  font-family: 'Averia Sans Libre';
  background-color: #00a82c !important;
  border-color: black !important;
  font-size: 18px;

}

.modal .modal-body{
  font-family: 'Averia Sans Libre';
  text-align: center;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.help {
	 z-index: 999;
	 position: fixed;
	 padding: 0;
	 margin: 0;
	 list-style-type: none;
   cursor: pointer;
   bottom: 10px;
   left: 10px;
}
 .help .menubottom i.fa {
	 height: 50px;
	 width: 50px;
	 text-align: center;
	 line-height: 50px;
	 background-color: #c9deff;
	 border-radius: 2px;
}

.help .menubottom i.fa:hover {
  background-color: #a9c8fa;
}








