@import url(https://fonts.googleapis.com/css?family=Chela+One);
@import url(https://fonts.googleapis.com/css?family=Averia+Sans+Libre);

body {
  color: rgba(255, 255, 255);
  background-image: url("bgg.jpg");
}

html,
body { height: 100%; }

body {
  display: table;
  width: 100%;
}

.middlecontent {
  position: relative;
  height: 55%;
  width: 100%;
  vertical-align: bottom;
}

.title {
  font-family: 'Chela One';
  width: 100%;
  position: absolute;
  font-size: 11.15vw;
  text-align: center;
  text-shadow: 3px 3px blue;
  color: #f2f2f2;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  white-space: nowrap;
}

.middlecontent h1 span.typed-text {
  font-weight: normal;
  color: white;
  text-shadow: 3px 3px blue;
}
.middlecontent h1 span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.middlecontent h1 span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}


.page-footer {
  font-family: 'Chela One';
  display: table-row;
  height: 1px;
  text-align: center;
  width: 100%;
}

.page-footer p {
  text-shadow: 1px 1px blue;
  font-size: 16px;
}

.page-buttons { 
  height: 100%; 
  vertical-align: middle;
}

nav navwidth {
  display: none;
}

@media (max-width: 940px) {
  nav ul     { display: none; }
  nav navwidth { display: inline-block; }
}

.navbar {
  font-family: 'Averia Sans Libre';
  overflow: hidden;
  background-color: #333;
}

@media only screen and (max-width:620px) {
  .middlecontent, .page-row-expanded, .page-footer {
    width:100%;
  }
}

#buttons02 {
  width: 100%;
  height: auto;
  margin: auto;
  border-color: 1px 1px white;
}

#buttons02 a {
  font-family: 'Averia Sans Libre';
  text-align: center;
	white-space: nowrap;
  align-items: center;
  text-decoration: none;
  position: relative;
  top: 1vh;
  right: 1.5%;
  transform: translateX(-50%);
  margin: 0.75rem;
	line-height: 3.125rem;
	padding: 0 2rem;
	font-size: 3vw;
	font-weight: 50;
	border-radius: 0rem;
}
 
#buttons02 .button {
	color: #f2f2f2;
}

.buttons {
	text-align: center;
}

#buttons02 .button:hover {
	color: #d1d1d1 !important;
  font-weight: bold;
  text-shadow: 3px 3px blue;
}

.mid-center { 
  position: absolute;
  top: 60%; 
  left: 50%;
  transform: translateX(-50%) translateY(-50%); 
}


