@import url(https://fonts.googleapis.com/css?family=Chela+One);
@import url(https://fonts.googleapis.com/css?family=Averia+Sans+Libre);


body {
  background-image: url("bgg.jpg");
}

html,
body { height: 100%; }

body {
  width: 100%;
}

.middlecontent {
  position: relative;
  height: 55%;
  width: 100%;
  vertical-align: bottom;
}

.title {
  font-family: 'Chela One';
  width: 100%;
  position: absolute;
  font-size: 11.15vw;
  text-align: center;
  text-shadow: 0.3vw 0.3vw #0095ff;
  color: #f2f2f2;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  white-space: nowrap;
}

.middlecontent h1 span.typed-text {
  font-weight: normal;
  color: white;
  text-shadow: 0.3vw 0.3vw #0095ff;
}
.middlecontent h1 span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.middlecontent h1 span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

.page-buttons { 
  height: 100%; 
  vertical-align: middle;
}

nav navwidth {
  font-family: 'Averia Sans Libre';
  display: none;
}

@media (max-width: 1203px) {
  nav ul     { display: none; }
  nav navwidth { display: inline-block; }
}

.navbar {
  font-family: 'Averia Sans Libre';
  overflow: hidden;
  background-color: #333;
}

@media only screen and (max-width:620px) {
  .middlecontent, .page-row-expanded, .page-footer {
    width:100%;
  }
}

#buttons02 {
  width: 100%;
  height: auto;
  margin: auto;
  border-color: 1px 1px white;
}

#buttons02 a {
  font-family: 'Averia Sans Libre';
  text-align: center;
	white-space: nowrap;
  align-items: center;
  text-decoration: none;
  position: relative;
  top: 1vh;
  right: 1.5%;
  transform: translateX(-50%);
  margin: 0.75rem;
	line-height: 3.125rem;
	padding: 0 2rem;
	font-size: 3vw;
	font-weight: 50;
	border-radius: 0rem;
}
 
#buttons02 .button {
	color: #f2f2f2;
}

.buttons {
	text-align: center;
}

#buttons02 .button:hover {
	color: #d1d1d1 !important;
  font-weight: bold;
  text-shadow: 3px 3px #0095ff;
}

.mid-center { 
  position: absolute;
  top: 60%; 
  left: 50%;
  transform: translateX(-50%) translateY(-50%); 
}

#exampleModalLabel{
	font-family: 'Montserrat', sans-serif;
}

#infopopup{
	font-family: 'Averia Sans Libre';
}

.modal .modal-footer button {
  font-family: 'Averia Sans Libre';
  background-color: #00a82c !important;
  border-color: black !important;
  font-size: 18px;

}


.modal .modal-body{
  font-family: 'Averia Sans Libre';
  text-align: center;
}

.modal {
  text-align: center;
  padding: 0!important;
}


#button {
  font-family: 'Averia Sans Libre';
  background-color: red !important;
  border-color: black !important;
  font-size: 12px;
}

#myModal:before {
  content: '';
  display: inline-block;
  height: 100%;
  margin-right: -4px;
  vertical-align: middle;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modaluser-dialog {
  position: absolute;
  width: auto;
  right: 10px;
  top: 65px;
}

.menushare {
	 z-index: 999;
	 position: fixed;
	 padding: 0;
	 margin: 0;
	 list-style-type: none;
}
 .menushare .share i.fa {
	 height: 50px;
	 width: 50px;
	 text-align: center;
	 line-height: 50px;
	 background-color: #c9deff;
	 border-radius: 2px;
}
 .menushare .share:hover.top .submenu li:nth-child(1) {
	 opacity: 1;
	 top: -51px;
	 transition-delay: 0.08s;
	 transform: rotateY(0deg);
	 border-bottom: 1px dashed #d9d9d9;
}
 .menushare .share:hover.top .submenu li:nth-child(2) {
	 opacity: 1;
	 top: -102px;
	 transition-delay: 0.16s;
	 transform: rotateY(0deg);
	 border-bottom: 1px dashed #d9d9d9;
}
 .menushare .share:hover.top .submenu li:nth-child(3) {
	 opacity: 1;
	 top: -153px;
	 transition-delay: 0.24s;
	 transform: rotateY(0deg);
	 border-bottom: 1px dashed #d9d9d9;
}
 .menushare .share:hover.top .submenu li:nth-child(4) {
	 opacity: 1;
	 top: -204px;
	 transition-delay: 0.32s;
	 transform: rotateY(0deg);
	 border-bottom: 1px dashed #d9d9d9;
}
 .menushare .share:hover.top .submenu li:nth-child(5) {
	 opacity: 1;
	 top: -255px;
	 transition-delay: 0.4s;
	 transform: rotateY(0deg);
	 border-bottom: 1px dashed #d9d9d9;
}
 .menushare .submenu {
	 list-style-type: none;
	 padding: 0;
	 margin: 0;
}
 .menushare .submenu li {
	 transition: all ease-in-out 0.5s;
	 position: absolute;
	 top: 0;
	 left: 0;
	 z-index: -1;
	 opacity: 0;
}
 .menushare .submenu li a {
	 color: #212121;
}
 .menushare .submenu li a:hover i.fa {
	 color: #fff;
}
 .menushare .submenu li a:hover.twitter i.fa {
	 background-color: #55acee;
}
 .menushare .submenu li a:hover.envelope i.fa {
	 background-color: green;
}
 .menushare .submenu li a:hover.instagram i.fa {
	 background-color: #e4405f;
}
 .menushare .submenu li:nth-child(1) {
	 transform: rotateX(45deg);
}
 .menushare .submenu li:nth-child(2) {
	 transform: rotateX(90deg);
}
 .menushare .submenu li:nth-child(3) {
	 transform: rotateX(135deg);
}
 .menushare .submenu li:nth-child(4) {
	 transform: rotateX(180deg);
}
 .menushare.bottomLeft {
	 bottom: 10px;
	 right: 10px;
}

.help {
	 z-index: 999;
	 position: fixed;
	 padding: 0;
	 margin: 0;
	 list-style-type: none;
   cursor: pointer;
   bottom: 10px;
   left: 10px;
}
 .help .menubottom i.fa {
	 height: 50px;
	 width: 50px;
	 text-align: center;
	 line-height: 50px;
	 background-color: #c9deff;
	 border-radius: 2px;
}

.help .menubottom i.fa:hover {
  background-color: #a9c8fa;
}

.account {
	 z-index: 999;
	 position: fixed;
	 padding: 0;
	 margin: 0;
	 list-style-type: none;
   cursor: pointer;
   top: 10px;
   right: 10px;
    
}
 .account .account {
	 height: 50px;
	 width: 50px;
	 text-align: center;
	 line-height: 50px;
	 background-color: #c9deff;
	 border-radius: 2px;
   animation: none;
}

.account .account:hover {
  animation: none;
  background-color: #a9c8fa;
}

.fa {
    color: black !important;
}
@keyframes moema {
	60% {
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
	85% {
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@-webkit-keyframes moema {
	60% {
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
	85% {
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

